<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">
                <div class="row">
                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-9" id="blog-listing-medium">
                        
                        {{ range (sort .Site.Data.clients "order") }}
                        <section class="post">
                            <div class="row">
                                <div class="col-md-4">
                                  <div class="image">
                                        {{ if .image }}
                                        <img src="{{ .image | relURL }}" class="img-responsive" alt="{{ .name }}">
                                        {{ else }}
                                        <img src="{{ "img/placeholder.png" | relURL }}" class="img-responsive" alt="{{ .name }}">
                                        {{ end }}
                                  </div>
                                </div>
                                <div class="col-md-8">
                                    <h2><a href="{{ .url }}">{{ .name }}</a></h2>
                                    <p class="intro">{{ .Content }}</p>
                                </div>
                            </div>
                        </section>
                        {{ end }}

                    </div>
                    <!-- /.col-md-9 -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN ***
       _________________________________________________________ -->

                    <div class="col-md-3">

                        <!-- *** MENUS AND WIDGETS *** -->

                        {{ partial "sidebar.html" . }}

                        <!-- *** MENUS AND FILTERS END *** -->

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
