{{ $products := where (where .Site.RegularPages "Type" "products")
".Params.featured" true }} {{ if .Site.Params.features.enable }} {{ if gt (len
$products) 0 }}
<section class="products-section">
  <h1>Our products</h1>
  {{ $elements := default 3 .Site.Params.features.cols }} {{ $features := sort
  $products ".Params.order" }} {{ $total_rows := div (len $features) $elements
  }} {{ if gt (mod (len $features) $elements) 0 }} {{ $total_rows = add
  $total_rows 1 }} {{ end }} {{ range $i, $sequence := seq $total_rows }}
  <div class="featured-products">
    {{ range $j, $sequence2 := (seq $elements) }} {{ $feature_index := add (mul
    $i $elements) $j }} {{ if lt $feature_index (len $features) }} {{ $element
    := index $features $feature_index }}
    <div class="featured-product">
      <a href="{{ $element.RelPermalink }}" class="right">
        <div class="top">
          <div class="icon">
            <i class="fa {{ $element.Params.icon }}"></i>
          </div>
          <h3>{{ $element.Params.title | markdownify }}</h3>
        </div>
        {{/*
        <p>{{ $element.Params.synopsis | markdownify }}</p>
        */}}
      </a>
    </div>
    {{ end }} {{ end }}
  </div>
  {{ end }}
</section>
{{ end }} {{ end }}
