<section class="hero">
  <div class="left">
    <div class="top">
      <div>
        <h1>Novala Biotech</h1>
        <p>A pioneering initiative in biotechnology.</p>
      </div>
      <img class="lab-small-screen" src="/img/lab.svg" />
    </div>
    <ul class="features">
      <li class="feature">
        <div class="feature-icon">
          <i class="fa fa-users"></i>
        </div>
        <p>
          Multidisciplinary team with experienced health and research
          professionals.
        </p>
      </li>
      <li class="feature">
        <div class="feature-icon">
          <i class="fa fa-lightbulb"></i>
        </div>
        <p>
          Advance healthcare with innovation, research, high-quality
          diagnostics, and promotion.
        </p>
      </li>
      <li class="feature">
        <div class="feature-icon">
          <i class="fa fa-shield-virus"></i>
        </div>
        <p>
          Maintains high standards of quality, reliability, and precision in
          products.
        </p>
      </li>
    </ul>
  </div>
  <img class="lab-large-screen" src="/img/lab.svg" />
</section>
