{{ if isset .Site.Params "recent_posts" }} {{ if
.Site.Params.recent_posts.enable }}
<section class="recent-posts-section">
  <div class="top">
    <h1>{{ .Site.Params.recent_posts.title | markdownify }}</h1>
    <a href="/blog">Learn more <span>></span></a>
  </div>
  <div class="bottom">
    <!-- *** BLOG HOMEPAGE *** -->
    {{ $posts := .Paginate (where site.RegularPages "Type" "in"
    site.Params.mainSections) }} {{ range first 6 $posts.Pages }}
    <div class="blog-card">
      <div class="image">
        {{ if isset .Params "banner" }}
        <img
          src="{{ .Params.banner | relURL }}"
          class="img-responsive"
          alt=""
        />
        {{ else }} <img src="{{ "img/placeholder.png" | relURL }}"
        class="img-responsive" alt=""> {{ end }}
      </div>

      <div class="content">
        <div class="text">
            <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
            <p class="author-category"></p>
      
            {{ if isset .Params "authors" }}    
                  {{ i18n "authorBy" }} {{ range $index, $author := .Params.authors }}{{ if $index }}, {{ end }}<a href="{{ (printf "%s/%s" ("authors" | relLangURL) ($author | urlize)) }}">{{ $author }}</a>{{ end }}
                  {{ end }}
                  {{ if .Params.date }}
                      {{ $createdAt := .Date.Format .Site.Params.date_format }}
                      {{ range $index, $month := slice "January" "February" "March" "April" "May" "June" "July" "August" "September" "October" "November" "December" }}
                          {{ $createdAt = replace $createdAt $month (i18n $month) }}
                      {{ end }}
                      <p class="date">
                          {{ i18n "publishedOn" }} {{ $createdAt }}
                      </p>
                  {{ end }}
                  {{ if not .Site.Params.recent_posts.hide_summary }}
                  <p class="intro">{{ .Summary }}</p>
                  {{ end }}
        </div>

        <a
            href="{{ .Permalink }}"
            class="read-more"
            ><i class="fas fa-link"></i> {{ i18n "readMore" }}</a
         >
      </div>

 
    </div>
    {{end}}
  </div>
</section>
<!-- /.bar -->
{{ end }} {{ end }}
