<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "headers.html" . }} {{ partial "custom_headers.html" . }}
  </head>

  <body>
    <div id="all" class="flex-column">
      {{ partial "nav.html" . }} {{ partial "hero.html" .}} {{ partial
      "himalkhabar.html" .}} {{ partial "features.html" . }} {{ partial
      "testimonials.html" . }} {{ partial "contact_section.html" . }} {{ partial
      "recent_posts.html" . }} {{/* {{ partial "see_more.html" . }}*/}} {{/* {{
      partial "recent_posts.html" . }}*/}} {{/* {{ partial "clients.html" . }}
      */}} {{ partial "footer.html" . }}
    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
  </body>
</html>
